* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container_holder {
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container_nav {
  flex-direction: row !important;
}

.container_holder {
  padding: 0 5px;
}


nav{
  padding: 5px 0px !important;
}



.navbar-brand {
  /* color: rgb(5, 5, 82); */
  font-weight: 900;
  margin-right: 20px;
  color: #0624b8;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navbar .nav-link {
  color: #fff;
}
nav .navbar-collapse {
  justify-content: flex-end !important;
}

nav .container-fluid {
  display: flex !important;
  justify-content: space-between;
}

.opt_button {
  /* width: 100%; */
}

.form_students li .student_details {
  display: flex;
  gap: 20px;
}

.form_students li .student_details {
  position: relative;
}

.option {
  display: flex;
}

.position_add_more {
  position: relative;
}

.add_more_students {
  position: absolute;
  right: -25px;
  bottom: -20px;
  width: 30px;
  height: 30px;
  border-radius: 50%; /* Makes the button circular */
  background-color: #007bff;
  color: white; /* Change text color as needed */
  /* Adjust font size as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none; /* Remove default underline */
}

.form-label {
  text-align: left !important;
  width: 100%;
}

/* grouping links */

.grouping .inputs {
  display: flex;
  gap: 10px;
}

.grouping .inputs input {
  width: 100px;
}

#noteBug {
  font-size: 0.9rem;
  color: red;
}

/* displaying groups */

.here {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.input-group {
  margin-bottom: 20px;
  display: flex;
}

.input-group label {
  margin-right: 10px;
}

#groupsContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  gap: 20px;
}

.group {
  margin-bottom: 10px;
}

.title-row {
  background-color: rgba(0, 0, 255, 0.8);
  display: flex;
}

.title-row .title {
  width: 100%;
  width: 140px;
  border: 0.2px solid rgba(128, 128, 128, 0.4);
  color: #000;
  padding: 5px 3px;
}

.student-row {
  background-color: rgba(255, 0, 0, 0.397);
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: center;
}

.student-row .cell {
  border: 0.2px solid rgba(128, 128, 128, 0.4);
  width: 100%;
  width: 140px;
  padding: 5px 2px;
  word-break: break-all;
  text-align: left;
}

#downloadExcel {
  width: fit-content;
  border: 0;
  border-radius: 5px;
  color: #fff;
  display: none;
}

body {
  /* height: 100dvh; */
  width: 100%;
  /* background-image: url(./bakcground.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}

.holder {
  height: 80dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav {
  -webkit-box-shadow: 0px 0px 28px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 28px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 28px -9px rgba(0, 0, 0, 0.75);
  margin: 10px 0;
  border-radius: 5px;
  background-color: rgba(255, 0, 0, 0.2);
  background-color: rgba(0, 0, 255, 0.6);
}

/* import centering  */

.option {
  display: flex;
  justify-content: center;
  text-align: center;
}

.option .grouping .inputs {
  align-items: center;
  display: flex;
  justify-content: center;
}

.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}

nav {
  position: fixed !important;
  /* width: 100%; */
  max-width: 960px;
  top: 0;
  left: auto;
  text-align: center;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  margin: 10px !important;
}

body {
  min-width: 420px !important;
}

body {
  background: linear-gradient(
    to right,
    rgba(255, 127, 95, 0.708),
    rgba(254, 180, 123, 0.702),
    rgba(255, 127, 95, 0.708),
    rgba(254, 180, 123, 0.702),
    rgba(255, 127, 95, 0.708)
  );
}

.grouping .form-label {
  text-align: center !important;
}

.option {
  margin-top: 80px;
  min-width: 450px;
}

.aboutUs {
  margin-top: 100px;
  padding: 0 5px;
}

.aboutUs h2 {
  font-size: 1.5rem;
}

.option p {
  text-align: center;
}

.holder .intro,
.add_students {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3rem;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.opt_button {
  justify-content: center;
}

.group_us_image {
  background: url(./favicon-16x16.png);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: 5px;
}
